* {
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}

.typing__demo {
    width: 27ch;
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    animation: typing 10s steps(25), blink .2s step-end infinite alternate, erase 5s;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}